name: Build & publish multi-arch

on:
  push:
    branches: [ build-arm64 ]
  workflow_dispatch:

jobs:
  build-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Run release script (publish)
        working-directory: build
        env:
          PLATFORMS: linux/amd64,linux/arm64
        run: |
          bash release.sh publish 2.28.1
